<form action="action_page.php">
    <div class="container">
      <h1>Вход</h1>
      <p>Пожалуйста, введите Email и пароль</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Введите Email" name="email" required>
  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="psw" required>

      <hr>

      <div class = "registerbtn disable" routerLink="/map">TOP</div>

    </div>
  
    <div class="container signin">
      <p>У вас нет аккаунта? <a routerLink="">Зарегистрироваться</a>.</p>
    </div>
</form>