* {box-sizing: border-box}

#my-div{
  //For center align
  margin: 0 auto;
  // For grow & shrink as per screen size change values as per your requirements
  width: 80%;
  height: 50%;
}

/* Add padding to containers */
.container {
  background-color: #ffffff;
  text-align: center;
  padding: 16px;
  width: 537px;
  height: 621px;
  margin: 0 auto;
  margin-top: 100px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  -moz-border-radius: 25px;
//   background-color: #fffb00;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 409px;
  height: 64px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #ffffff;
  border: 2px solid rgb(203,213,225);
  border-radius: 15px;
  -moz-border-radius: 15px;
  color: rgb(107,114,128);
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  // border: 1px solid #f1f1f1;
  // margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: rgb(116,227,1);
  color: white;
  // padding: 16px;
  border: none;
  cursor: pointer;
  width: 409px;
  height: 64px;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
  border: 2px solid rgb(116,227,1);
  border-radius: 15px;
  -moz-border-radius: 15px;
  text-align: center;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  border: 2px solid #323843;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #323843;
  color: #ddd;
  text-align: center;
  height: 80px;
  margin-top: 0;
}

.disable{
    background-color: rgb(241,245,249);
    color: rgb(209,213,219);
    border-color: rgb(241,245,249);
    pointer-events: none;
}

.desk{
  width: 409px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin: 0 auto;
}

.buttontext{
  padding-top: 19px;
  margin: 0 auto;
}

.hd{
  display:inline-block;
  width: 100%;
  padding-left: 46px;
}

h1{
  color: rgb(116,227,1);
  text-align: left;
  text-shadow: 1px 1px 3px rgb(33,160,56);
  padding-left: 46px;
  padding-top: 16px;
}

.icon{
  float: left;
  // width: 33%;
  padding-top: 35px;
}