<div id="my-div">
  <form action="action_page.php">
    <div class="container">
      <div class="hd">
        <img class="icon" src="../../../assets/img/icon.jpg" alt="icon">
        <div class="txt">
          <h1>TOK delivery</h1>
        </div>
      </div>
      <div>
  
      <input type="text" placeholder="Введите Email" name="email" required>
  
      <input type="password" placeholder="Введите пароль" name="psw" required>
      
      </div>

      <div class = "registerbtn disable" routerLink="/map"><p class="buttontext">Войти</p></div>

      <div class="desk">
        <p>Забыли пароль? <a routerLink="">Востановить</a>.</p>
      </div>

      <div class = "registerbtn" routerLink="/map"><p class="buttontext">Регистрация</p></div>
      <div class="desk">
        <p>Входя в систему, вы принимаете <a routerLink="">пользовательское соглашение </a>и <a routerLink="">положение о конфиденциальности</a>.</p>
      </div>
    </div>

</form>
</div>